<div class="container">
    <div class="welcome-box">
        <img src="assets/img/landing_page.jpg">
        <section class="text">
            <h1>Your favorite content. Now closer than ever to you.</h1>
            <p>
                Join our free platform and start streaming or watching your favorite content!
            </p>
            <button mat-raised-button
                    color="primary"
                    (click)="loginWithRedirect()">
                Get started
            </button>
        </section>


    </div>


</div>
