@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

:host {
  .form-input {
    width: 100%;
    padding-top: 15px;
  }

  form {
    width: 50%;
    margin: auto;
  }

  .radio-label {
    display: block;
  }

  .radio-group {
    display: flex;
    margin: 15px 0;
  }

  .radio-button {
    margin: 5px;
  }

  .invited-panel {
    margin: 20px auto;

    & .-bottom {
      position: relative;
      bottom: -10px;
      & button {
        margin-left: 20px;
      }
    }
  }

  .action-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    & button {
      width: 45%;
    }
  }
}
